body {
    height : 100vh;
}
#bottonperso {
background-color: lavender;
}
#presentation {
    background-color: lavender;
    margin-left: 20rem;
    margin-right: 20rem;
    height: 100%;    
}
#bouton {
    width: 100%;
}
img 
{
    max-width: 100%;
}
p 
{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.p-blue {
    color: blue;
    font-size: x-large;
}

strong {
    font-size: xx-large;
    font-style: italic;
}
