body {
    height : 100%;
    padding: 0;
    margin: 0;
    
}
#navMenu {
    display: flex;
    justify-content: space-between;
}
#navBar {
    font-size: large;
    color: #0d6efd;
    background-color: #e4e8ed ;
    
}
span {
    color: darkgray;
}
#bodyPart {
    height: 100vh;
    padding-left: 20em;
    padding-right: 20em;
       
}
#titreBouton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    padding-top: 1em;
}
#titleSM {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bolder;
    font-size: larger;
    justify-content: end;
    vertical-align: bottom;
    
}
#firstBloc {
    background-color: #e4e8ed;
    width: 100%;
    height: 10em ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pasID {
    width: 90%;
}

#sendMany {
    margin: 0;
    padding: 0;
}
table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    outline: solid 2px;
    margin-bottom: 1em;
    margin-top: 5px;
}
tr:nth-child(odd) {
    background-color: #e4e8ed;
  }

th {
    background-color: #198754;
    color: white;
    font-size: large;
    height: 80px;
}
td {
    height: 60px;
}
.threeCol {
    width: 33%;
}
.fiveCol20 {
    width: 20%;
}
.fiveCol50 {
    width: 50%;
}
.fiveCol10 {
    width: 10%;
}
